@import "tailwindcss";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

select option {
  background-color: #1e293b !important;
  color: #ffffff !important;
}

select optgroup {
  background-color: #0f172a !important;
  color: #ffffff !important;
}

select {
  color-scheme: dark;
}

@-moz-document url-prefix() {
  select option {
    background-color: #1e293b !important;
    color: #ffffff !important;
  }
}
